<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/otp</property>
        <property name="hibernate.connection.username">otp</property>
        <property name="hibernate.connection.password">otp</property>
        <property name="hbm2ddl.auto">update</property>
        <!-- List of Entity files -->
        <mapping class="fr.utbm.lo54.entity.Client"/>
        <mapping class="fr.utbm.lo54.entity.Location"/>
        <mapping class="fr.utbm.lo54.entity.Course"/>
        <mapping class="fr.utbm.lo54.entity.CourseSession"/>
    </session-factory>
</hibernate-configuration>
